// Overrides
body {
  color: $color;
}

address {
  font-style: normal;
}

hr {
  margin-top: 1rem;
}

.row {
  display: flex;
  justify-content: space-between;
}

.intro {
  font-size: 0.95rem;
  margin-bottom: 1rem;
  p {
    margin-bottom: 0.25rem;
  }
}

.no-link {
  text-decoration: none;
  cursor: default;
  user-select: none;

  &:hover {
    color: #A71D31;
    text-shadow: 0 0 8px #91192b;
    text-decoration: none;
  }
}

// Content and sidebar sizes
@media (min-width: 48em) {
  .sidebar {
    width: 16rem;

    /* Sidebar footer for not sticky sidebar */
    .container:not(.sidebar-sticky) .sidebar-footer {
      position: absolute;
      bottom: 0;
    }
  }

  .content {
    max-width: 28rem;
    margin-left: 18rem;
    margin-right: 2rem;
  }
}

@media (min-width: 64em) {
  .sidebar {
    width: 16rem;

    /* Sidebar footer for not sticky sidebar */
    .container:not(.sidebar-sticky) .sidebar-footer {
      position: absolute;
      bottom: 1rem;
    }
  }

  .content {
    max-width: 50rem;
    margin-left: 19rem;
    margin-right: 3rem;
  }
}

@media (max-width: 64em) {
  .sidebar {
    padding: 1rem 0;
  }
}

@media print {
  // hide page url and title
  @page {
    size: auto;   /* auto is the initial value */
    margin: 0;  /* this affects the margin in the printer settings */
  }

  .sidebar * {
    display: none !important;
  }

  .content {
    padding: 0;
  }

  .print {
    display: block;

    @at-root span#{&} {
      display: inline;
    }
  }

  .no-print {
    display: none;
  }
}

@media not print {
  .print {
    display: none;
  }

  .no-print {
    display: block;

    @at-root span#{&} {
      display: inline;
    }
  }
}

// Typography
strong {
  color: inherit;
}

p + ul, p + dl {
  margin-top: -1rem;
}

// Titles
.page-title {
  font-family: $titleFont;
  font-weight: 300;
  text-align: center;
}

// Sidebar
.sidebar {
  .sidebar-about {
    margin-bottom: 2rem;

    * {
      font-family: $titleFont;
      font-weight: 300;
    }

    h1 {
      color: #fff;
      margin-top: 0;
      font-size: 1.5rem;
      text-align: center;

      span {
        font-size: 1rem;
        display: block;
        margin-top: 0.5rem;
      }
    }
  }

  .sidebar-nav-item {
    margin-bottom: 0.25rem;

    &:hover {
      color: #FFC107;
    }
  }

  .lead {
    font-size: 1.2rem;
  }

  .sidebar-footer {
    font-size: 0.8rem;

    p {
      margin-bottom: 0;
    }
  }
}

.theme-moon {
  .sidebar {
    background: black url('../assets/3-moons-sidebar.png') repeat-y;
    background-size: 100% auto;
    color: rgba(255, 255, 255, 0.8);
  }
}

.js-moon {
  cursor: pointer;
  user-select: none;
}

// Archive
.archive-posts {
  margin: 0 2rem;
}

@media (min-width: 48em) {
  .archive-posts {
    margin: 0 4rem;
  }
}

.archive-year {
  font-family: $titleFont;
  font-weight: bold;

  &:not(:first-child) {
    margin-top: 2rem;
  }
}

.archive-item {
  overflow: auto; /* clearfix */
  margin-bottom: 1rem;

  a {
    text-decoration: underline;
  }

  time {
    display: block;
    color: lighten($color, 40%);
  }
}

@media (min-width: 48em) {
  .archive-item time {
    float: right;
  }

  .archive-item {
    margin-bottom: .5rem;
  }
}

// Code highlighter through ```
.highlighter-rouge {
  margin: 0 1rem;
}

// Post metadata
.post-meta {
  display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
}

.theme-base-dark-green {
  .sidebar {
    background-color: #524c00;
  }

  .content a, .related-posts li a:hover {
    color: #bf360c;
  }
}
