<span class="no-print">
        <a href="/public/files/resume_danil_zakablukovskii.pdf"
           target="_blank"><strong>Download this Resume</strong></a> ·
    </span>
<span class="print">
         <a href="http://danilz.me/resume/"
            target="_blank"><strong>View this Resume online</strong></a> ·
    </span>
<a href="https://github.com/djagya" rel="me nofollow" target="_blank">Github</a> ·
<a href="https://www.upwork.com/o/profiles/users/_~01f7bfe08002f58952/" rel="me nofollow"
   target="_blank">Upwork</a>

<address>
    <a href="mailto:danil.kabluk@gmail.com">danil.kabluk@gmail.com</a> ·
    <abbr title="Phone">P:</abbr> <a href="tel:+491743132757">+49 174 31-32-757</a> ·
    Skype: <a href="skype:re_coil">re_coil</a> ·
    Berlin, Germany
</address>
