<span class="no-print">
        <a href="/public/files/resume_danil_zakablukovskii.pdf"
           target="_blank"><strong>Download this Resume</strong></a> ·
    </span>
<span class="print">
         <a href="http://danilz.me/resume/"
            target="_blank"><strong>View this Resume online</strong></a> ·
    </span>
<a href="https://github.com/djagya" rel="me nofollow" target="_blank">Github</a> ·
<a href="https://www.upwork.com/o/profiles/users/_~01f7bfe08002f58952/" rel="me nofollow"
   target="_blank">Upwork</a>

<address>
    <a href="mailto:work@danilz.me">work@danilz.me</a> · Berlin, Germany
</address>
