.sidebar-about h1 {
  color: #fff;
  margin-top: 0;
  font-family: "Roboto Mono", serif;
  font-weight: 300;
  font-size: 3.25rem;
  text-align: center;
}

@media (min-width: 48em) {
  /* Sidebar footer for not sticky sidebar */
  .sidebar .container:not(.sidebar-sticky) .sidebar-footer {
    position: absolute;
    bottom: 1rem;
  }
}

.pagination {
  font-family: "Lora", Helvetica, Arial, sans-serif;
}
