// Titles
.sidebar-about h1 {
  color: #fff;
  margin-top: 0;
  font-family: "Roboto Mono", serif;
  font-weight: 300;
  font-size: 3.25rem;
  text-align: center;
}

.page-title {
  font-family: "Roboto Mono", serif;
  font-weight: 300;
  text-align: center;
}

.pagination {
  font-family: "Lora", Helvetica, Arial, sans-serif;
}

// Content and sidebar sizes
@media (min-width: 48em) {
  .sidebar {
    width: 16rem;

    /* Sidebar footer for not sticky sidebar */
    .container:not(.sidebar-sticky) .sidebar-footer {
      position: absolute;
      bottom: 0;
    }
  }

  .content {
    max-width: 28rem;
    margin-left: 18rem;
    margin-right: 2rem;
  }

  .layout-reverse .content {
    max-width: 28rem;
    margin-left: 2rem;
    margin-right: 18rem;
  }
}

@media (min-width: 64em) {
  .sidebar {
    width: 18rem;

    /* Sidebar footer for not sticky sidebar */
    .container:not(.sidebar-sticky) .sidebar-footer {
      position: absolute;
      bottom: 1rem;
    }
  }

  .content {
    max-width: 46rem;
    margin-left: 22rem;
    margin-right: 4rem;
  }

  .layout-reverse .content {
    max-width: 46rem;
    margin-left: 4rem;
    margin-right: 22rem;
  }
}

@media (max-width: 64em) {
  .sidebar {
    padding: 1rem 0;
  }
}

// Archive
.archive-posts {
  margin: 0 2rem;
}

@media (min-width: 48em) {
  .archive-posts {
    margin: 0 4rem;
  }
}

.archive-year {
  font-family: "Roboto Mono", serif;
  font-weight: bold;

  &:not(:first-child) {
    margin-top: 2rem;
  }
}

.archive-item {
  overflow: auto; /* clearfix */
  margin-bottom: 1rem;

  time {
    display: block;
    color: lighten(#515151, 40%);
  }
}

@media (min-width: 48em) {
  .archive-item time {
    float: right;
  }

  .archive-item {
    margin-bottom: .5rem;
  }
}

// Code highlighter through ```
.highlighter-rouge {
  margin: 0 1rem;
}

// Themes
.theme-base-green {
  .sidebar {
    background-color: #2ECC71;
  }
  .content a, .related-posts li a:hover {
    color: #2ECC71;
  }
}

.theme-base-light-green {
  .sidebar {
    background-color: rgb(172, 194, 103);
  }
  .content a, .related-posts li a:hover {
    color: rgb(172, 194, 103);
  }
}

.theme-base-dark-green {
  .sidebar {
    background-color: rgb(104, 119, 4);
  }
  .content a, .related-posts li a:hover {
    color: rgb(104, 119, 4);
  }
}
